
<footer id="footer" role="navigation">
<p>
	You can also find me on:<br/>
	<a href="http://www.twitter.com/tsmuse"><span class="fa fa-twitter"></span></a>
	<a href="http://www.medium.com/@tsmuse"><span class="fa fa-medium"></span></a>
	<a href="http://www.linkedin.com/in/notjustprettypictures"><span class="fa fa-linkedin"></span></a>
	<a href="http://www.github.com/tsmuse"><span class="fa fa-github"></span></a>
</p>
<p class="shenanigans">&copy;2015 Tony Santos. All rights reserved. <br/>More shenanigans from <a href="http://www.notjustprettypictures.com">Not Just Pretty Pictures</a></p>
</footer>
<!-- JS Includes -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="js/tsdesign.js"></script>

