---
layout: njppPortfolio
completionDate: 2014
projectType: smartphone OS, Advertising, prototype
issuesSolved: Information Architecture
liveAt: www.njpp.co/prototypes/mozPhone/index.html
title: Sponsored FirefoxOS
heroImg: img/sponPhoneHero.png
---
<section>
<h2>There are approximately two billion people in the world who can’t afford to get online</h2>
<p>
	The thing that drew me to Mozilla was the goal of the FirefoxOS project: to create a smartphone for the people who couldn’t afford to get on the web, not for the people for whom the Internet is a ubiquitous resource. The lower cost FirefoxOS phones were a great start, allowing people to get a smartphone with lower cost pre-paid service on sub-$100USD hardware. But for a large number of people on the planet, even a small reoccurring fee for service can be a burden. Sponsored FirefoxOS was an ecosystem project to help bring even more people onto the Internet by lowering the reoccurring cost of service to zero through brand sponsorship. 
</p>
</section>
<section>
<h2>NOT the advertising phone</h2>
{% include njppthumb-left.html imgSrc="img/mozPhone03.png" altTxt="Sponsored Phone Image 03" caption="The most traditional ad in the phone is a small banner that disapears once a user starts dialing." %}
<p>
	When I started working on this project, my main objective was to make sure we didn’t end up putting ads all over the phone and end up making something people would hate. We didn’t have any actual sponsors at this phase, because we were pitching this idea to our carrier partners, and that freedom let us explore what kind of sponsorships could actually make the phone more fun than the non-sponsored versions while still fulfilling the marketing objectives any brand that signed on would have. These kinds of explorations would later guide discussions with partners about sponsors. 
</p>
</section>
<section>
<h2>Sponsored by things that are important to you</h2>
{% include njppthumb-right.html imgSrc="img/mozPhone02.png" altTxt="Sponsored Phone Image 02" caption="Lockscreen with auto-updating live game images and score board from current World Cup game." %}
<p>
	The World Cup was happening when we started this project and is a huge event in the parts of the world where this kind of service was most crucial, so we asked ourselves, “What would a sponsored phone that was all about fútbol be like? What would be be like right now during the world cup?” Adidas was the obvious choice, as the largest brand in soccer, to be our proposal. It’s important to point out that Adidas had nothing to do with this project, although I would love it if they would in the future.
</p>
</section>
<section>
<h2>Rapid prototyping, rapid uptake</h2>
{% include njppthumb-left.html imgSrc="img/mozPhone01.png" altTxt="Sponsored Phone Image 01" caption="Home screen with custom sponsor wallpaper and an intigrated miCoach widget." %}
<p>
	We jumped from sketches to prototype in about two days. Axure RP is a fantastic tool for FirefoxOS based prototypes, because the output is HTML/CSS/Javascript, which we could turn into a packaged FirefoxOS app and run on the actual handsets, and we could do so in a day. Actually seeing it running on a real phone, even though it wasn’t real at all, got our partners excited and they wanted to move forward with the process as quickly as we could. (<a href="/prototypes/mozPhone/index.html">You can view a web version of the prototype here.</a>)  
</p>
</section>
<section>
<h2>A good idea has legs</h2>
<p>
	Our goal with this project was to convince one of our telecom partners to roll this out on at least one of their regional brands. We piqued the interest of two. The actual implementation of these ideas are now working their ways through the two partner businesses, with support from the core FirefoxOS team to make these special custom builds of FirefoxOS a reality. We hope to see the first sponsored phones roll out in 2015.
</p>
</section>
