---
layout: njppPortfolio
completionDate: 2013
projectType: Website redesign
issuesSolved: Information Architecture
liveAt: developer.mozilla.org
title: MDN Redesign
heroImg: img/mdnHero.png
---
<section>
<h2>Redesign that thing that’s constantly changing shape!</h2>
<p>
	The Mozilla Developer Network(MDN) is a community contributed, Mozilla edited and maintained resource for web developers. “Encyclopedic” is often an adjective used to describe the site and the traffic it sees is huge. Try searching for something that has to do with Javascript and it’s usually the first result. At it’s core its, and quite literally the technology is, a wiki. It’s a website that sees hundreds of changes a week to both content on individual pages and the number of groupings of pages themselves. Our challenge was to bring some order to this massive changing site that made it easier to read and find the information contained in MDN, made it easier to contribute content to MDN, and made it easier for Mozilla to expand MDN to include the new products it was launching.
</p>
</section>
<section>
<h2>Build a framework for contribution and growth</h2>
<p>
	{% include njppthumb-left.html imgSrc="img/mdn01.png" altTxt="MDN Image 01" caption="Sketch of our goal [from presentation given to kick the project off.]" %}
	A well thought out information architecture was the goal, and why I was brought into the project, but designing an IA for a site that could have six new sections next week and then ten fewer the week after that was a new challenge. Instead of building a rigid map of what we thought the site should be, we worked with a group of contributors and the editors of the site to create a framework everyone believed in and that met all our goal. To get to the final solution, we ran a series of interviews with the internal stakeholders, another with a group of highly active MDN contributors and then ran a fairly large open card sort with 100 MDN users.  
</p>
</section>
<section>
<h2>SORT ALL THE CARDS!</h2>
<p>
	{% include njppthumb-right.html imgSrc="img/mdn02.jpg" altTxt="MDN Image 02" caption="With so many cards the similarity matrix was easier to work with printed out than it was on-screen." %}
	When we started the project we pulled a snapshot of every page on MDN, and found out the site had roughly 39,800 pages and over 500 categories at that time. This obviously made creating a deck of cards to be sorted a little daunting, we needed to consolidate themes. We worked through this with our stakeholders and contributors in our interviews and ended up with a still rather hefty but much more manageable 93 cards. I should note here that having a very enthusiastic and engaged user-base is the only thing that makes a card sort with this many cards possible. We ended up with an 11% abandonment rate, and hit 100 responses in less than 36 hours. 
</p>
</section>
<section>
<h2>One framework to take us into the future</h2>
<p>
	{% include njppthumb-left.html imgSrc="img/mdn03.png" altTxt="MDN Image 03" caption="Diagram of IA framework we created."  %}
	From this point we took our list of categories the participants created and used some affinity diagraming to come up with a basic set of categories for the site, aided by the giant similarity matrix. While there weren’t very many surprises in the similarity matrix, some of the phasing used in the categories was different that what we had initially come up with  and we let the tone and phrasing of our users influence our final wording. Under these new groupings we reused most of the existing IA inside of individual topics. In "Zones" each product group chose created a new IA for their new section on MDN.
</p>
</section>
<section>
<h2>UI enhancements and a fresh coat of paint</h2>
<p>
	{% include njppthumb-right.html imgSrc="img/mdn04.png" altTxt="MDN Image 04" caption="The new article view template designed for readability, with the new MDN branding at the top." %}
	While I was focusing on the IA of the redesigned site, the other half of the team was working on a new layout, identity and interactions for MDN. While I consulted on these, and gave my critiques of them, they are largely the result of the rest of the team and not me individually. That said, they are way too rad not to call out here. 
</p>
</section>