---
layout: njppPortfolio
completionDate: 2012
projectType: Mobile &amp; Enterprise desktop apps
issuesSolved: Information architecture, Visual design, Interaction design, Usability testing, User research 
liveAt: not
title: T-Mobile in-store tablet app
heroImg: img/tmoHero.png
---
<section>
<h2>In-store software means in-store research</h2> 
<p>
	We started this project by spending about a week in three different retail stores in the greater Seattle area. Through observation and some interviews with the retail staff we uncovered our main considerations to make this software actually work in the day-to-day job of selling cell phones. Juggling multiple customers and activities at once, having to do a lot of backtracking in the actual process of selling and activating a phone, and making a piece of software that would work with full hands and also tolerate things being laid on top of the tablet were key findings.
</p>
</section>
<section>
<h2>Queue up, more than just a list</h2>
<p>
{% include njppthumb-right.html imgSrc="img/tmo02.png"  altTxt="Customer Queue screen" caption=""%}
The customer queue was literally just a piece of paper on a clipboard. We added pre-verification of customers at the time they entered the queue because it was a real flow stopper when the sales reps had to verify the customer. Customers often had started shopping while waiting, they were ready to buy when it was their turn. We also turned &quot;the list&quot; into a communication channel between the floor manager and sales associates to pass messages like, &quot;customer was upset when she came in.&quot; All of these features combined to allow the sales staff to stay on the sales floor instead of finding the floor manager for their next customer every time.
</p>
</section>
<section>
<h2>Just the details, ma'am</h2>
<p>
{% include njppthumb-left.html imgSrc="img/tmo03.png"  altTxt="Customer account screen" caption=""%}
The software we were replacing was designed for the call center customer service employees. That meant it had a lot of things the retail sales reps didn't need to see. One of the biggest challenges of the project was cutting down the account details displays to work as a single screen. There were a lot of &quot;What IFs?&quot; that needed to be explored before we cut anything (and we cut A LOT.) The final layout looks very simple, and is easy to read at a glance. 
</p>
</section>
<section>
<h2>Every tablet is "my tablet"</h2>
<p> {% include njppthumb-right.html imgSrc="img/tmo01.png" altTxt="T-mobile tablet app lockscreen" caption="" %}
In our research, we saw the sales reps carried a lot of different things around in the course of helping a customer which meant they were likely to put the tablet down. We also weren’t going to have one tablet per rep; this was a hard design constraint that brought a lot of fun features to life. Having a lock screen let us surface other information quickly: who was currently on the floor, who currently was acting as the floor manager, and who was on break/lunch. This information sounds trivial until you are interrupted while trying to sell a phone by a customer who is looking for the rep that was helping her two hours ago.</p>
</section>
<section>
<h2>Not even rivers flow in a straight line</h2>
<p>{% include njppthumb-left.html imgSrc="img/tmo04.png" altTxt="T-mobile tablet order flow" caption="" %}
Nothing about a customer interaction was linear, and yet the systems we were trying to update all relied on linear, wizard driven task flows. We isolated the major tasks in selling and upgrading a phone and designed all the interaction points of the process to function more like a "hub-and-spoke" and less like a straight line, to accommodate the back and forth nature of how a transaction actually played out. We removed the penalty to the rep for customers changing their mind at the last second about a handset or a service plan, and this was possible mostly due to the shopping cart model we adopted to also account for the requirement to be able to quickly switch between customers.  </p>
</section>
<section>
<h2>Want to know more?</h2>
<p>
	<a href="telcoLong.html">Click here to read the full case study.</a>
</p>
</section>
 
                