---
layout: njppPortfolio
completionDate: 2009
projectType: website
issuesSolved: information architecture, visual design, interaction design
liveAt: not
title: Ultimate Money Skills
heroImg: img/umsHero.png
---
<section>
<h2>How do you get teenagers to care about their financial future?</h2> 
<p>
	Bank of America and Monster.com both wanted to help students make better financial choices as they ended high school and started college. The problem was fairly simple, financial literacy is boring. The site as it was originally designed presented students with lots of articles and a few videos about financial literacy, an offering that was not very interesting to our audience of 16 - 20 year olds. In the research we conducted, it became clear that task based, immediately relevant snippets of information were much more appealing. An article talking about the 20 year impact of having a savings account wasn't relevant, an article about the things you needed to gather to open a savings account or the kinds of features you should look for in selecting a savings account were.
</p>
</section>
<section>
<h2>Create a guide, not a resource</h2>
<p>
	{% include njppthumb-left.html imgSrc="img/ums2.png" altTxt="Ultimate Money SKills 02" caption="" %}
	The main goal both Monster and Bank of America had for the site was to make it a resource for financial education and literacy for young adults. The problem with just creating a resource was that it was totally inaccessible to the audience; even though it had all the information they needed they had no way to navigate it themselves. To solve this problem, we created a guide, The Knowledge Bank, to help our users find the information they were looking for. We did this by centering the site's navigation around the most common questions the teens we talked to had about their financial lives. The Knowledge Bank just presented the user with questions it had the answer to. This fake intellgence made the site much easer to use and allowed us to achieve the goal of creating a resource in a way that tackled the problems the original, reference-style site. 
</p>
</section>
<section>
<h2>Knowledge is great and all&hellip;</h2>
<p>
	{% include njppthumb-left.html imgSrc="img/ums4.png" altTxt="Ultimate Money Skills 04" caption="" %}
	Our redesign of Ultimate Money Skills happened as &quot;social&quot; was quickly moving from &quot;next big thing&quot; to &quot;minimum requirement for a successful web property&quot; status. Building in basic social features like member profiles and voting on content gave our users a reason to come back. Not only was new content being surfaced regularly (compared to the monthly update cycle that new content was actually on) but the users now had an ownership stake in the site, to push content they thought was important and interesting to their peers. Giving up a small amount of editorial control was a hard sell, but in test after test it prooved to be a wise decision. Being able to influence the Top Articles lists was consistantly reported as a reason for repeat visits.  
</p>
</section>
<section>
<h2>You can only read so many articles</h2>
<p> 
	{% include njppthumb-right.html imgSrc="img/ums11.png" altTxt="Ultimate Monkey Skills 11" caption="" %}
	As an adult, even I had a hard time reading more than about three of our very well written articles about topics like identity theft or the real cost of cretit cards. We decided to design some edu-tainment to tackle the topics our sponsors thought were the most critical and games like Playing with Plastic, The Financial Literacy Quiz, and The Budget Builder were the result. These interactive elements also tied into our social elements, allowing our users to brag and keep score about the things they were learning. They were fairly simple games, but they saw huge numbers or repeat visitors. It was like a modern-day Oregon Trail, but about financial literacy and without all the disentary. 
</p>
</section>
<section>
<h2>Want to know more?</h2>
<p>
	<a href="umsLong.html">Click here to read the full case study.</a>
</p>
</section>
                